{{>header}}
{{>nav}}

<div class="container form-container">
 <h1>Try Now!</h1>
    <form class="tryNow" action="/message" method="POST">
        <div class="form-group">
             <label for="yourMessage">Enter your message here</label>
           <input class="form-control" type="text" placeholder="Enter your message" name="messageBody" id="yourMessage">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{{>footer}}