{{>header}}
{{>nav}}

<div class="container form-container">
    <h1>Upload Avatar</h1>
    <form action="/users/upload" method="POST" class="image-form" enctype="multipart/form-data">
        <input id="image-upload" class="file-add" type="file" accept="image/*" name="avatar" />
        <button  class="btn btn-primary" type="submit" id="image-upload" class="sinsup-button">Upload Image</button>
    </form>
</div>

{{>footer}}